* {
    box-sizing:border-box;
  }
  
  .slide{
      width: 160vmin;
      height: 80vmin;
      background-color: blue;
      float: left;
      position: absolute;
      
  }

 
  .video{
      width: 75%;
      height: 80%;
      background-color: brown;
      float: left;
      position: relative;
  }
  .video img{
    width: 100%;
    height: auto;
}

  .logo{
      width: 25%;
      height: 26%;
      float: left;
      background-color: darkslategray;
      position: relative;
  }
  .logo img{
    width: 100%;
    height: auto;
}


  .mocap{
      width: 25%;
      height: 54%;
      background-color: coral;
      float: left;
      position: relative;

  }

  

   .moc1{
      width: 100%;
      height: 50%;
      background-color: darkgreen;
      float: left;
      position: relative;
    
  }

  .moc1 img{
      width: 100%;
      height: auto;
  }

  .moc2{
    width: 100%;
    height: 50%;
    background-color: darkgreen;
    float: left;
    position: relative;
  
}

.moc2 img{
    width: 100%;
    height: auto;
}
.text{
    
    font-size: 2vmin;
    float:left;
    padding:10px;
    overflow: auto;
    background-color: gold;
    position: relative;

}



@media screen and (max-width:350px){
    .slide{
        width: 90vmin;
        height: 220vmin;
        background-color: blue;
        position: absolute;
        
    }
    .logo{
        float: none;
        top: 0;
        width: 100%;
        height: 20%;
        position: absolute;
    }
    .video{
        float: none;
        top: 20%;
        width: 100%;
        height: 20%;
        position: absolute;
    }
    .text{
        float: none;
        top: 40%;
        width: 100%;
        height: 20%;
        position: absolute;
    }
    .mocap{
        float: none;
        top: 60%;
        width: 100%;
        height: 40%;
        position: absolute;
    }
}